# Environment
NODE_ENV=
# Server configuration
PORT=
# Telegram API configuration
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
# TMDB API configuration
TMDB_BEARER_TOKEN=
# Language configuration
PREFERRED_LANGUAGE=

